.flex-container{
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100px;
  width:100%;
}
.flashbox{
    display: flex;
    position: relative;
    background-color: rgba(100, 100, 100, .3);
    height: 300px;
    width: 300px;
    border-radius: 2rem; 
    justify-content: center;
    align-items: center;
    font-size: 10vw;
  }

.start{
    position:relative;
    margin: 10px 0;
}

#settingTitle{
  font-size: 24px;
  color: whitesmoke;
}
.flashSettingInput{
  padding: 0;
  width: 50%;
  text-align: center;
}





@media screen and (max-width: 770px) {
  .flex-container{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100px
  }
  
  p{
    text-align: center;
  }
}
