:root{
  /* colour scheme */
  --darkest: #191919;
  --dark: rgba(245, 245, 245, .3);
  --light: rgba(245, 245, 245, 0.934);
  --lightest: #d9ff00;
}

/* GLOBAL STYLING */
.unselectable{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}
body{
  background: var(--darkest);
  font-family: "Nunito", sans-serif;
}
div{
  color:whitesmoke;
}
h1{
    color:whitesmoke;
    text-align: center;
}
.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-col-span-2{
  grid-column: span 2;
}
.no-display{
  display: none;
}


/* MAIN TIMES TABLES SECTION */
.questions {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large; 
    margin: 10px;
}
#currentQuestion{
  color: var(--lightest);
  font-family: "Amazon Ember",sans-serif;
}
#nextQuestion{
   opacity: 0.1;
   font-family: "Amazon Ember",sans-serif;
}
.answers{
    text-align: center;
    margin: 10px;
}
.streak{
    text-align: center;
    font-size: x-large;
    margin: 10px;
}
.highScore{
    text-align: center;
    font-size: x-large;
    margin: 10px;
}
input{
    border-top: 2px whitesmoke;
    border-left: 2px whitesmoke;
    border-right: 2px whitesmoke;
    background: transparent;
    padding: 12px 20px;
    margin: 8px 8px;
    color: whitesmoke;
    font-family: "Amazon Ember",sans-serif;
    font-size: xx-large;
}textarea:focus, input:focus{
    outline: none;
}
button{
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #1e1e1e;
  cursor: pointer;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}button:hover {
  background-color: var(--dark);
  color: whitesmoke;
}button:focus {
  border-color: #454545;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/* Toggle shuffle */
#shuffleButton{
  background-color: #555;
}
.switch {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 34px;
  top: 280px;
  left: 65%; /* So that it's inline with timer*/
  z-index: 1;
  color: whitesmoke;
  
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  display: inline;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 8px;
}.off{
  position: absolute;
  color: black;
  top: -10px;
  right: 43px;
}.on{
  position: absolute;
  color: black;
  top: -10px;
  left: 46px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 36px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
}
input:checked + .slider{
  /* background-color: #2196F3; */
  background-color: var(--light);
}
input:focus + .slider {
  /* box-shadow: 0 0 1px #2196F3; */
  box-shadow: 0 0 1px var(--light);
}
input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}
.toggle-label {
  margin-left: 90px;
  position: relative;
  top: -18px;
}

/* Timer CSS */
#safeTimer{
  position: absolute;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  left: 65%;
  top:100px; /*set it to be level with main bit since it's in the nav header, might need to fix*/
  background-color: rgba(80, 80, 80, .3);
  padding: 1rem;
  border-radius: 8px;
  
}
h2#timerTitle{
  margin: 0;
}
#safeTimerDisplay{
  font-size: xx-large;
  margin: 0;
}
.timer-settings{
  background-color: rgba(100, 100, 100, .3);
  padding: 3px;
  display: flex;
  border-radius: 5px;
  align-items: center;
}
a.time-length{
  background-color:rgba(100, 100, 100, .3);
  border-radius: 3px;
  color: whitesmoke;
  padding: 3px 5px;
  text-decoration: none;
  margin: 2px;
  z-index: 1;
  /* display: flex;
  align-items: center; */
}a.time-length:hover{
  background-color: rgba(245, 245, 245, .2);
}
button.timer-reset{
  width: fit-content;
  height: fit-content;
  scale: 0.85;
  margin: 5px; 
}


/* The Modal (background) */
.modal{
  display: none; /* none by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content{
  background-color: var(--darkest);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  border-radius: 5px;
}
.stats{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 5px;
}
.stats > p1{
  background-color: var(--darkest);
  border-radius: 5px;
  padding: 5px 10px;
}
.stats > p2{
  background-color: var(--dark);
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
}
#score{
  width: fit-content;
  display: inline;
  
}

.fa-question-circle-o{
  margin: 0 10px;
  display: inline;
}.fa-question-circle-o:hover .score-tooltip{
  visibility: visible;
}
.score-tooltip{
  visibility: hidden;

  position: absolute;
  z-index: 2;
}#scoreFormula{
  width:50%;
  border-radius: 15px;
}

.difficulty-tooltip{
  visibility: hidden;
  
}.difficulty:hover + .difficulty-tooltip{
  visibility: visible;
  animation: animatetip 1s;
}@keyframes animatetip{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* CSS FOR ANIMATIONS OF QUESTIONS */
@keyframes animatetop{
    from{
        top:0px;opacity:1
        } 
    to{
        top:-30px;opacity:0
    }
}.currentQuestion-animate{
  position:relative;
  animation:animatetop 0.3s
}
@keyframes animatebottom{
    from{
        top:0px;opacity:0.3;
        } 
    to{
        top:-47px;opacity:1; color: var(--lightest); /*47px most preice translation?*/
    }
}.nextQuestion-animate{
  position:relative;
  animation:animatebottom 0.3s
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}



/* CSS FOR NAVBAR */
.nav-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
button.nav-toggle{
  background-color: transparent;
  border-width: 3px;
  box-shadow: none;
  color: whitesmoke;
  padding: 5px 20px;
  width: 6rem;
  height: 3rem;
}
.overlay {
    height: 100%;
    width: 400px; /*Was 30% before, I want to change it so it's responsive and the grid for #includeNumbers is responsive*/
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  
  }
  .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
  }
  .overlay a:hover, .overlay a:focus {
    color: whitesmoke;
  }
  .overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 60px;
    padding: 0;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  .nav-text{
    padding: 0 15px;
  }

  /* #customNav {
    display:none;
  } */
  #inputInclude{
    width:50%;
  }
  #includeNumbers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(55px,1fr));
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    vertical-align: middle;
  }
  .number-tag{
    border: 1px solid white;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;

  }.number-tag a:hover{
    color: whitesmoke;
  }
  a.remove-num{
    padding: 0px 0px 0 0px;
    margin: 0;
  }
  

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  left: 50%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 11;
  top: 100px;
  left: 25%;
  margin-left: -900px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 2s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  25% {opacity: 1;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  50% {opacity: 1;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}

/* Removes up-down arrows on the number input form */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}



/* Responsive design for phones */
@media screen and (max-width: 770px) {
  h2#timerTitle{
    display: inline;
    width:fit-content;
  }
  #safeTimer{
    position: relative;
    height: fit-content;
    width: fit-content;
    top: 0;
    left: 0;
    margin: 0 8px;
    padding: 8px;
  }.timer-settings{
    margin: 5px;
    padding: 5px;
  }p#safeTimerDisplay{
    position: relative;
    display: inline;
    margin: 5px;
  }#scoreFormula{
    width:100%;
  }

  .switch{
    display: block;
    top:68px;
    left:15px; 
   }.toggle-label{
     display: block;
     position: relative;
     margin-left: 11px;
     top: 15px;
   }
}